<div class="container-fluid">

    <div class="row">
        <div class="col-sm-6 col-md-6 col-xs-6 col-lg-6">
      <h2>Devotee Shop</h2>
        </div>
      <div class="col-sm-6 col-md-6 col-xs-6 col-lg-6">
      <div class="form-group has-feedback" id="search">
          <label for="search" class="sr-only">Search</label>
          <input type="text" class="form-control" name="search" id="search" placeholder="search"> 
        </div>
      </div>
    </div>



      <div class="row" id="abc">
    <div class="col-sm-2 col-md-2 col-xs-12 col-lg-2">
        <ul>
          <li><a routerLink="/rudrakshas">Rudhrakshas</a></li>
           <li><a routerLink="/shaligram">Shaligram</a></li>
            <li><a routerLink="/gemstones">Gemstones</a></li>
            <li><a routerLink="/books">Books & Cd</a></li>
            <li><a routerLink="/dairy">Dairy & Calendars</a></li>
            <li><a routerLink="/yantras">Yantras</a></li>
            <li><a routerLink="/vasthu">Vasthu</a></li>
          </ul>
    </div>
    
    
    <div class="col-sm-10 col-md-10 col-xs-12 col-lg-10" id="margin">
      <p>A description list is a list of terms, with a description of each term.
        The dl tag defines the description list, the dt tag defines the term (name),
         and the dd tag describes each term</p>
         <p>A description list is a list of terms, with a description of each term.
            The dl tag defines the description list, the dt tag defines the term (name),
             and the dd tag describes each term</p>
             <h3>Trending Products</h3>
             <div class="row new">
               <div class=" col-lg-3 col-md-3 col-sm-6 col-xs-6">
                  <a href="#">
                 <img src="assets/images/i1.jpg" class="img img-thumbnail"></a>
                 <p>Name : Rudhrakshas<br>Price : xxx</p>
               </div>
               <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                  <a href="#">
                  <img src="assets/images/i1.jpg" class="img img-thumbnail"></a>
                  <p>Name : Rudhrakshas<br>Price : xxx</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <a href="#">
                    <img src="assets/images/i1.jpg" class="img img-thumbnail"></a>
                    <p>Name : Rudhrakshas<br>Price : xxx</p>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                      <a href="#">
                      <img src="assets/images/i1.jpg" class="img img-thumbnail"></a>
                      <p>Name : Rudhrakshas<br>Price : xxx</p>
                    </div>
                    </div>
                    <div class="row new">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <a href="#">
                        <img src="assets/images/i1.jpg" class="img img-thumbnail"></a>
                        <p>Name : Rudhrakshas<br>Price : xxx</p>
                      </div>
                      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                          <a href="#">
                          <img src="assets/images/i1.jpg" class="img img-thumbnail"></a>
                          <p>Name : Rudhrakshas<br>Price : xxx</p>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                            <a href="#">
                            <img src="assets/images/i1.jpg" class="img img-thumbnail"></a>
                            <p>Name : Rudhrakshas<br>Price : xxx</p>
                          </div>
                          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                              <a href="#">
                              <img src="assets/images/i1.jpg" class="img img-thumbnail"></a>
                              <p>Name : Rudhrakshas<br>Price : xxx</p>
                            </div>
             </div>
    </div>
  </div>
</div>
