<div class="container"  id="online">
 
       <h3>Online Courses</h3>
       <div class="row" id="car">
         <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
           <div class="card" id="cour">
               <img class="card-img-top"  src="assets/img/logo.PNG" alt=" Image">
               <div class="card-block">
                 <h4 class="card-title text-center">Live Lectures</h4>
                 <p class="card-text">
                     Delhi,Mathura,Agra,Ayodhya,Varanasi,Allahabad,Chittrakoot,Khajuraho,Barsana,Agra.</p>
                 
               </div>
             </div>
           </div>
           <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
               <div class="card" id="cour">
                   <img class="card-img-top" src="assets/img/logo.PNG" alt=" Image">
                   <div class="card-block">
                     <h4 class="card-title text-center">Learn at Devotee World</h4>
                     <p class="card-text text-center">
                         Delhi,Mathura,Gokul,Mahavan,Goverdhan,Nand Goan,Barsana,Agra.</p>
                     
                   </div>
                 </div>
               </div>
               <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4   ">
                   <div class="card" id="cour" >
                       <img class="card-img-top" src="assets/img/logo.PNG" alt=" Image">
                       <div class="card-block">
                         <h4 class="card-title text-center">Content Access</h4>
                         <p class="card-text">
                             Chennai,Tirupati,Kanchipuram,Mamallapooram,Tiruvannamalai,Pondicherry,Barsana,Agra.</p>
                         
                       </div>
                     </div>
                   </div>
       </div>

 </div>
 
 
 
 
 