<div class="container">
  <h2>Horoscope</h2><br>
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
      <div class="row" id="new">
      <div class="col-md-3">
        <img src="assets/images//1.png">
        <p>Aries<br>Jan 20 - Feb 18</p>
        
      </div>
      <div class="col-md-3">
        <img src="assets/images/2.png">
        <p>Taurus<br>Jan 20 - Feb 18</p>
      </div>
      <div class="col-md-3">
        <img src="assets/images/3.png">
        <p>Gemini <br>Jan 20 - Feb 18</p>
      </div>
      <div class="col-md-3">
        <img src="assets/images/4.png">
        <p>Cancer<br>Jan 20 - Feb 18</p>
      </div>
      </div>

      <div class="row" id="new">
          <div class="col-md-3">
            <img src="assets/images/5.png">
            <p>Leo <br>Jan 20 - Feb 18</p>
          </div>
          <div class="col-md-3">
            <img src="assets/images/6.png">
            <p>Virgo <br>Jan 20 - Feb 18</p>
          </div>
          <div class="col-md-3">
            <img src="assets/images/7.png">
            <p>Libra <br>Jan 20 - Feb 18</p>
          </div>
          <div class="col-md-3">
            <img src="assets/images/8.png">
            <p>Scorpio <br>Jan 20 - Feb 18</p>
          </div>
          </div>

          <div class="row" id="new">
              <div class="col-md-3">
                <img src="assets/images/9.png">
                <p>Sagittarius <br>Jan 20 - Feb 18</p>
              </div>
              <div class="col-md-3">
                <img src="assets/images/10.png">
                <p>Capricorn <br>Jan 20 - Feb 18</p>
              </div>
              <div class="col-md-3">
                <img src="assets/images/11.png">
                <p>Aquarius <br>Jan 20 - Feb 18</p>
              </div>
              <div class="col-md-3">
                <img src="assets/images/12.png">
                <p>Pisces <br>Jan 20 - Feb 18</p>
              </div>
              </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <h4> Horoscope</h4>
      <p>What is horoscope? It is an astrological chart which is calculated with the relevance of date, time and birth place of a person.There are 12 zodiac signs, and each sign has its own strengths and weaknesses, its own specific traits, desires and attitude towards life and people. </p>
      <img src="assets/images/zodiac/h1.jpg" class="img img-fluid">
      <!-- <p> There are 12 zodiac signs, and each sign has its own strengths and weaknesses, its own specific traits, desires and attitude towards life and people.</p> -->
      
      <div id="button"><button type="button" class="btn btn-primary"  data-toggle="modal" data-target="#mModal">
          known your sun sign
        </button></div>
      
        <!-- The Modal -->
        <div class="modal fade" id="mModal">
          <div class="modal-dialog">
            <div class="modal-content">
            
              <!-- Modal Header -->
              <div class="modal-header">
                
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              
              <!-- Modal body -->
              <div class="modal-body">
                
               <!-- Body Content Start-->     
        <section>
          <div class="container"> 
              <div class="row">
                  <div class="col-md-8" style="margin: auto;float: none;">
                      <div class="uploadform">
                          <form  name="form1">
                            
                           <h4>Select your Birth Date</h4>
      
                              <div class="row">
                                  <div class="col-md-6">
                                      <label>Month:</label>
                                      <div class="form-group">
                                          <select class="single form-control footer_select month">
                                              <option>Choose</option>
                                              <option>January</option>
                                              <option>Febuary</option>
                                              <option>March</option>
                                              <option>April</option>
                                              <option>May</option>
                                              <option>June</option>
                                              <option>July</option>
                                              <option>August</option>
                                              <option>September</option>
                                              <option>November</option>
                                              <option>December</option>
                                          </select>             
                                      </div>
                                  </div>
                              
                                  <div class="col-md-6">
                                      <label>Date:</label>
                                      <div class="form-group">
                                          <select class="single form-control footer_select month">
                                              <option>Choose</option>
                                              <option>1</option>
                                              <option>2</option>
                                              <option>3</option>
                                              <option>4</option>
                                              <option>5</option>
                                              <option>6</option>
                                              <option>7</option>
                                              <option>8</option>
                                              <option>9</option>
                                              <option>10</option>
                                              <option>11</option>
                                              <option>12</option>
                                              <option>13</option>
                                              <option>14</option>
                                              <option>15</option>
                                              <option>16</option>
                                              <option>17</option>
                                              <option>18</option>
                                              <option>19</option>
                                              <option>20</option>
                                              <option>21</option>
                                              <option>22</option>
                                              <option>23</option>
                                              <option>24</option>
                                              <option>25</option>
                                              <option>26</option>
                                              <option>27</option>
                                              <option>28</option>
                                              <option>29</option>
                                              <option>30</option>
                                              <option>31</option>
                                          </select>                           
                                      </div>
                                  </div>
                              </div>
      
                              
                                  <div class="col-md-12">
                                      <div class="form-group"> 
                                          <input type="submit" class="btn btn-primary">
                                      </div> 
                                  </div>
                            
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </section>
              <!-- Body Content end-->
              </div>
              
              <!-- Modal footer -->
              <div class="modal-footer" style="background-color: #fff;">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
              
            </div>
          </div>
        </div>
        
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <div class="columns">
          <ul class="price">
            <li class="header" style="background-color:#4CAF50">Weekly</li>
            <li class="grey"><img src="assets/images/zodiac/Horocsope1.jpg" class="img img-fluid"></li>
            <!-- <li>&#8377;2,800 / month</li> -->
            <li class="grey"><a href="#" class="button">Check Now</a></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="columns">
          <ul class="price">
            <li class="header">Monthly</li>
            <li class="grey"><img src="assets/images/zodiac/Horocsope1.jpg" class="img img-fluid"></li>
            <!-- <li>&#8377;4,200 / month</li> -->
            <li class="grey"><a href="#" class="button">Check Now</a></li>
          </ul>
        </div>
      </div>
      
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <div class="columns">
          <ul class="price">
            <li class="header" style="background-color:#4CAF50;">Yearly</li>
            <li class="grey"><img src="assets/images/zodiac/Horocsope1.jpg" class="img img-fluid"></li>
            <!-- <li>&#8377;5,600 / month</li> -->
            <li class="grey"><a href="#" class="button">Check Now</a></li>
          </ul>
        </div>
      </div>
      
        
  </div>
 <div class="row">
    <!-- <script type="text/javascript">
      function ShowHideDiv() {
          var date = document.getElementById("date");
          var dvPassport = document.getElementById("dvPassport");
          dvPassport1.style.display = date.checked ? "block" : "none";
      }
      function HideDiv() {
          var horoscope = document.getElementById("horoscope");
          var dvPassport = document.getElementById("dvPassport");
          dvPassport2.style.display = horoscope.checked ? "block" : "none";
      }
  </script> -->
  <!-- <span>Do you have Passport?</span> -->
  <label for="date">
      <input type="radio" id="date" name="chkPassPort" onclick="ShowHideDiv()" />
      Date & Month
  </label>
  <label for="horoscope">
      <input type="radio" id="horoscope" name="chkPassPort" onclick="HideDiv()" />
      Horoscope
  </label>
  
  <div class="container" id="dvPassport1" style="display: none">
      
          <div class="row">
              <div class="col-md-8" style="margin: auto;float: none;">
                  <div class="uploadform">
                      <form  name="form1">
                        
                        <h4>Get Your Daily Horoscope</h4>
  
                          <div class="row">
                              <div class="col-md-4">
                                  <label>Month:</label>
                                  <div class="form-group">
                                      <select class="single form-control footer_select month">
                                          <option>Choose</option>
                                          <option>January</option>
                                          <option>Febuary</option>
                                          <option>March</option>
                                          <option>April</option>
                                          <option>May</option>
                                          <option>June</option>
                                          <option>July</option>
                                          <option>August</option>
                                          <option>September</option>
                                          <option>November</option>
                                          <option>December</option>
                                      </select>             
                                  </div>
                              </div>
                          
                              <div class="col-md-4">
                                  <label>Date:</label>
                                  <div class="form-group">
                                      <select class="single form-control footer_select month">
                                          <option>Choose</option>
                                          <option>1</option>
                                          <option>2</option>
                                          <option>3</option>
                                          <option>4</option>
                                          <option>5</option>
                                          <option>6</option>
                                          <option>7</option>
                                          <option>8</option>
                                          <option>9</option>
                                          <option>10</option>
                                          <option>11</option>
                                          <option>12</option>
                                          <option>13</option>
                                          <option>14</option>
                                          <option>15</option>
                                          <option>16</option>
                                          <option>17</option>
                                          <option>18</option>
                                          <option>19</option>
                                          <option>20</option>
                                          <option>21</option>
                                          <option>22</option>
                                          <option>23</option>
                                          <option>24</option>
                                          <option>25</option>
                                          <option>26</option>
                                          <option>27</option>
                                          <option>28</option>
                                          <option>29</option>
                                          <option>30</option>
                                          <option>31</option>
                                      </select>                           
                                  </div>
                              </div>
                          
  
                          
                              <div class="col-md-4">
                                  <div class="form-group" style="margin-top: 30px;"> 
                                      <input type="submit" class="btn btn-primary">
                                  </div> 
                              </div>
                          
                      </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
      <div class="container" id="dvPassport2" style="display: none">
          <div class="row">
              <div class="col-md-8" style="margin: auto;float: none;">
                  <div class="uploadform">
                      <form  name="form1">
                        
                        <h4>Get Your Daily Horoscope</h4>
  
                          <div class="row">
                              <div class="col-md-6">
                                  <label>Horoscope:</label>
                                  <div class="form-group">
                                      <select class="single form-control footer_select month">
                                          <option>Choose</option>
                                          <option>Aries</option>
                                          <option>Taurus</option>
                                          <option>Gemini</option>
                                          <option>Cancer</option>
                                          <option>Virgo</option>
                                          <option>Libra</option>
                                          <option>Scorpio</option>
                                          <option>Leo</option>
                                          <option>Sagittarius</option>
                                          <option>Capricorn</option>
                                          <option>Aquarius</option>
                                          <option>Pisces</option>
                                      </select>             
                                  </div>
                              </div>
                          
                              
                          
                              <div class="col-md-6">
                                  <div class="form-group" style="margin-top: 30px;"> 
                                      <input type="submit" class="btn btn-primary">
                                  </div> 
                              </div>
                      
                      </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
     
</div> 
<h4>Get Your 2018 Horoscope</h4>
<div class="row">
  
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        <img src="assets/images/zodiac/a1.png">
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        <img src="assets/images/zodiac/a2.png">
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        <img src="assets/images/zodiac/a3.png">
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        <img src="assets/images/zodiac/a4.png">
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        <img src="assets/images/zodiac/a5.png">
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        <img src="assets/images/zodiac/a6.png">
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        <img src="assets/images/zodiac/a7.png">
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        <img src="assets/images/zodiac/a8.png">
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        <img src="assets/images/zodiac/a9.png">
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        <img src="assets/images/zodiac/a10.png">
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        <img src="assets/images/zodiac/a11.png">
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        <img src="assets/images/zodiac/a12.png">
    </div>
</div>
</div>
