
  /* @media only screen and (max-width: 768px) {
    .card{
      margin: 10px;
    }
  } */
  
 
 #ast{
color: black;
margin-right: 60px;
text-align: center;
 }
.img{
  /* width: 200px; */
}
#new{
 padding-top: 60px;
  margin-left:129px; 
  padding-bottom: 25px;
  /* align-items: center; */
  
}
