

<div class="container">
    <div id="new">
  <div class="row" >
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <a routerLink="/horoscope/horoscope">
      <img src="assets/img/y7.jpg" class="img img-thumbnail">
      <p id="ast">Horoscope</p></a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <a routerLink="/astrology">
       <img src="assets/img/y7.jpg" class="img img-thumbnail">
       <p id="ast">Astrology</p></a>
     </div>
     <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <a routerLink="/numerology">
         <img src="assets/img/r13.jpg" class="img img-thumbnail">
         <p id="ast">Numerology</p></a>
       </div>

         </div>

         <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <a routerLink="/Vasthu">
            <img src="assets/img/y7.jpg" class="img img-thumbnail">
            <p id="ast">Vasthu</p></a>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <a routerLink="Reiki">
             <img src="assets/img/y7.jpg" class="img img-thumbnail">
             <p id="ast">Reiki</p></a>
           </div>
           <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <a routerLink="/Palmistry">
               <img src="assets/img/r13.jpg" class="img img-thumbnail">
               <p id="ast">Palmistry</p></a>
             </div>
      
               </div>




</div>
</div>
<!-- <router-outlet></router-outlet> -->

