<div class="container-fluid">
    <h2>Dairy & Calendar
      <div class="form-group has-feedback" id="search">
        <label for="search" class="sr-only">Search</label>
        <input type="text" class="form-control" name="search" id="search" placeholder="search">
          <span class="glyphicon glyphicon-search form-control-feedback"></span>
      </div>
    </h2>
    <div class="row">
      <div class="col-md-2 col-sm-2 col-xs-2">
          <ul>
              <li><a href="#">Rudhrakshas</a></li>
              <li><a href="#">Shaligram</a></li>
              <li><a href="#">Gemstones</a></li>
              <li><a href="#">Books & Cd</a></li>
              <li><a href="#">Dairy & Calendars</a></li>
              <li><a href="#">Yantras</a></li>
              <li><a href="#">Vasthu</a></li>
            </ul>
      </div>
      <div class="col-md-10 col-sm-10 col-xs-10">
        <!-- <p>A description list is a list of terms, with a description of each term.
          The dl tag defines the description list, the dt tag defines the term (name),
           and the dd tag describes each term</p>
           <p>A description list is a list of terms, with a description of each term.
              The dl tag defines the description list, the dt tag defines the term (name),
               and the dd tag describes each term</p>
               <h3>Trending Products</h3> -->
               <div class="row new">
                 <div class="col-md-3 col-sm-6 col-xs-6">
                    <a href="#">
                   <img src="assets/images/i1.jpg" class="img img-thumbnail"></a>
                   <p>Name : Rudhrakshas<br>Price : xxx</p>
                 </div>
                 <div class="col-md-3 col-sm-6 col-xs-6">
                    <a href="#">
                    <img src="assets/images/i1.jpg" class="img img-thumbnail"></a>
                    <p>Name : Rudhrakshas<br>Price : xxx</p>
                  </div>
                  <div class="col-md-3 col-sm-6 col-xs-6">
                      <a href="#">
                      <img src="assets/images/i1.jpg" class="img img-thumbnail"></a>
                      <p>Name : Rudhrakshas<br>Price : xxx</p>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <a href="#">
                        <img src="assets/images/i1.jpg" class="img img-thumbnail"></a>
                        <p>Name : Rudhrakshas<br>Price : xxx</p>
                      </div>
                      </div>
                      <div class="row new">
                      <div class="col-md-3 col-sm-6 col-xs-6">
                          <a href="#">
                          <img src="assets/images/i1.jpg" class="img img-thumbnail"></a>
                          <p>Name : Rudhrakshas<br>Price : xxx</p>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-6">
                            <a href="#">
                            <img src="assets/images/i1.jpg" class="img img-thumbnail"></a>
                            <p>Name : Rudhrakshas<br>Price : xxx</p>
                          </div>
                          <div class="col-md-3 col-sm-6 col-xs-6">
                              <a href="#">
                              <img src="assets/images/i1.jpg" class="img img-thumbnail"></a>
                              <p>Name : Rudhrakshas<br>Price : xxx</p>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-6">
                                <a href="#">
                                <img src="assets/images/i1.jpg" class="img img-thumbnail"></a>
                                <p>Name : Rudhrakshas<br>Price : xxx</p>
                              </div>
               </div>
      </div>
    </div>
  </div>
  