<div class="container">
 <div id="demo" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/images/c1.jpg" alt="Los Angeles" width="1100" height="500">
      <div class="carousel-caption">
        <h3>Los Angeles</h3>
        <p>We had such a great time in LA!</p>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="assets/images/c2.jpg" alt="Chicago" width="1100" height="500">
      <div class="carousel-caption">
        <h3>Chicago</h3>
        <p>Thank you, Chicago!</p>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="assets/images/c3.jpg" alt="New York" width="1100" height="500">
      <div class="carousel-caption">
        <h3>New York</h3>
        <p>We love the Big Apple!</p>
      </div>   
    </div>
  </div>
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
</div>

<div class="container">
    <h3 class="text-center" id="zod">About Us</h3>
    <p>Whether you're a zodiac beginner looking for a free birth chart or a pro searching for answers to life's toughest questions, we are here to help you connect the dots - no matter your zodiac sign. Bursting with information on all the astrological signs, love compatibility info, free tarot readings, in-depth astrology reports and up-to-the-minute suggestions on how to harness that planetary power,Devotee World is your source for what's up, right now.</p>
    <p>Whether you're a zodiac beginner looking for a free birth chart or a pro searching for answers to life's toughest questions, we are here to help you connect the dots - no matter your zodiac sign. Bursting with information on all the astrological signs, love compatibility info, free tarot readings, in-depth astrology reports and up-to-the-minute suggestions on how to harness that planetary power,Devotee World is your source for what's up, right now.</p>
  </div>


  <h3 class="text-center" id="zod">Know Your Horoscope</h3>
  
  <div class="container">
    <div class="row" id="zod1">
      
       <!-- Row1 sun sign zodaics -->
      <div class="col-md-1 col-lg-1 col-sm-2 hidden-xs"  id="is">
          <a routerLink="/horoscope/horoscope">  <img src="assets\images\1.png" alt="img2" class="ics"><br><p id="font"><b>Aries</b></p></a> 
      </div>
      <div class="col-md-1 col-lg-1 col-sm-2 hidden-xs"  id="is">
          <a routerLink="/horoscope/horoscope">  <img src="assets\images\2.png" alt="img1" class="ics"><p id="font"><b>Taurus</b></p></a>
      </div>
      <div class="col-md-1 col-lg-1 col-sm-2  hidden-xs"  id="is">
        <a routerLink="/horoscope/horoscope"> <img src="assets\images\3.png" alt="img1" class="ics"><p id="font"><b>Gemini</b></p></a>
      </div>
      <div class="col-md-1 col-lg-1 col-sm-2  hidden-xs"  id="is">
        <a routerLink="/horoscope/horoscope"><img src="assets\images\4.png" alt="img1" class="ics"><p id="font"><b>Cancer</b></p></a>
      </div>
      <div class="col-md-1 col-lg-1 col-sm-2  hidden-xs"  id="is">
        <a routerLink="/horoscope/horoscope"> <img src="assets\images\5.png" alt="img1" class="ics"><p id="font"><b>Leo</b></p></a>
      </div>
      <div class="col-md-1 col-lg-1 col-sm-2 hidden-xs"  id="is">
        <a routerLink="/horoscope/horoscope"> <img src="assets\images\6.png" alt="img1" class="ics"><p id="font"><b>Virgo</b></p></a>
      </div> 
      <div class="col-md-1 col-lg-1 col-sm-2  hidden-xs"  id="is">
        <a routerLink="/horoscope/horoscope">   <img src="assets\images\7.png" alt="img1" class="ics"><p id="font"><b>Libra</b></p></a>
    </div>
    <div class="col-md-1 col-lg-1 col-sm-2 hidden-xs c">
      <a routerLink="/horoscope/horoscope">  <img src="assets\images\8.png" alt="img1" class="ics"><p id="font"><b> Scorpio</b></p></a>
    </div>
    <div class="col-md-1 col-lg-1 col-sm-2 hidden-xs"  id="is">
      <a routerLink="/horoscope/horoscope"> <img src="assets\images\9.png" alt="img1" class="ics"><p id="font"><b>Sagittarius</b></p></a>
    </div>
    <div class="col-md-1 col-lg-1 col-sm-2  hidden-xs"  id="is">
      <a routerLink="/horoscope/horoscope">  <img src="assets\images\10.png" alt="img1" class="ics"><p id="font"><b>Capricornus</b></p></a>
    </div>
    <div class="col-md-1 col-lg-1 col-sm-2 hidden-xs"  id="is">
      <a routerLink="/horoscope/horoscope"> <img src="assets\images\11.png" alt="img1" class="ics"><p id="font"><b>Aquarius</b></p></a>
    </div>
    <div class="col-md-1 col-lg-1 col-sm-2 hidden-xs"  id="is">
      <a routerLink="/horoscope/horoscope"> <img src="assets\images\12.png" alt="img1" class="ics"><p id="font"><b>Pisces</b></p></a>
    </div>
  </div> 
  

 <!-- <div class="container slide-image">
  <h3 class="text-center" id="zod">Our Services</h3>
   <div
     ng2-carouselamos
     [width]="700"
     [items]="listOfItems"
     [$item]="itemTemplate"
     [$prev]="prevTemplate"
     [$next]="nextTemplate"
     (onSelectedItem)="selectedItem = $event.item; selectedIdx = $event.index"
     class="wrapper col-xs-6 col-sm-12 col-md-12 col-lg-12"
   >
   </div>
   
 <ng-template #prevTemplate>
   <i class="fa fa-chevron-left" aria-hidden="true"></i>

 </ng-template>
 <ng-template #nextTemplate>
   <i class="fa fa-chevron-right" aria-hidden="true"></i>

 </ng-template>
 <ng-template let-item let-i="index" let-selectedIndex="selectedIndex" #itemTemplate>
   <div class="item" [ngStyle]="{ backgroundColor: item.bgColor }">
     <div>
       <img [src]="item.img" width="200" height="200" alt="placeholder" />
       <span [ngStyle]="{ 'font-weight': i === selectedIndex ? 'bold' : 'normal' }">{{item.name}}</span><br>
     </div>
   </div>
 </ng-template>
</div>  -->





<!-- zodaic signs -->


<h3 class="text-center" id="zod"> Trending at Devotee World</h3>

<div class="container">
  <div class="row new">
    <div class="col-md-3 col-sm-6 col-xs-6">
      <a href="#">
      <img src="assets/img/y7.jpg" class="img img-thumbnail"></a>
      <p>Name : Rudhrakshas<br>Price : xxx</p>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-6">
       <a href="#">
       <img src="assets/img/y7.jpg" class="img img-thumbnail"></a>
       <p>Name : Rudhrakshas<br>Price : xxx</p>
     </div>
     <div class="col-md-3 col-sm-6 col-xs-6">
         <a href="#">
         <img src="assets/img/r13.jpg" class="img img-thumbnail"></a>
         <p>Name : Rudhrakshas<br>Price : xxx</p>
       </div>
       <div class="col-md-3 col-sm-6 col-xs-6">
           <a href="#">
           <img src="assets/img/r13.jpg" class="img img-thumbnail"></a>
           <p>Name : Rudhrakshas<br>Price : xxx</p>
         </div>
         </div>



</div>

  